**__pycache__**
**build**
**egg-info**
**dist**
data/
*.pyc
venv/
*.idea/
*.so
*.yaml
*.sh 
*.pth
*.pkl
*.zip
*.bin
*.png
*.pcd
*.jpg
*.pickle
.vscode/
work_dirs/
modelzoo/
plot_results/
final_visualize/
final_visualize_partial/
etri3Deval/